<img class="invisible" src={{path}} width=300 height=300 />
<canvas id="canvasSlide" width=300 height=300></canvas>


<div class="fila-de-botones">
    <button {{action 'moveFrameUp'}}><i class='angle double up icon'></i></button>
</div>

<div class="fila-de-botones">
  <button {{action 'moveFrameLeft'}}><i class='angle double left icon'></i></button>
  <button {{action 'moveFrameDown'}}> <i class='angle double down icon'></i>  </button>
  <button {{action 'moveFrameRight'}}> <i class='angle double right icon'></i>  </button>
</div>

<div class="fila-de-botones">
  ({{dx}}, {{dy}})

  <p>

  {{#if puedeGuardar}}
    <button {{action 'guardarAlineacion'}}>Aplicar</button>
    <button {{action 'cancelarAlineacion'}}>Cancelar</button>
  {{else}}
    <button disabled=disabled>Aplicar</button>
    <button disabled=disabled>Cancelar</button>
  {{/if}}

  {{#if guardando}}
    <div class="ui mini active inline loader"></div>
  {{/if}}


  </p>
</div>
