<p>Mostrando la animación: </p>


<p>[id: {{model.id}}]</p>
<p>[name: {{model.name}}]</p>
<p>[frames: {{model.frames}}]</p>
<p>[speed: {{model.speed}}]</p>


{{pilas-animation-preview liveReload=liveReload animation=model}}
