
<p>Cantidad de animaciones: {{model.animations.length}}</p>

{{#each model.animations as |animation|}}
  <li class='animation-row'>

    {{#link-to 'editor.animations.show' animation.id}}
      {{animation.name}}
    {{/link-to}}


    <button {{action "removeAnimation" animation}}>x</button></li>
{{/each}}

<button class="ui button" {{action "showCreateAnimationModal"}}>Crear animación</button>

{{outlet}}

{{#ember-remodal
  forService=true
  disableNativeClose=true
  closeOnOutsideClick=false
  name="animation"
  closeOnEscape=false}}

  <h2>Crear una animación</h2>

  <p>Título: {{input value=name autofocus=true action="createAnimation"}}</p>
  <p>Cuadros por segundo: {{input value=speed action="createAnimation"}}</p>
  <p>Cuadros: {{input value=frames action="createAnimation"}}</p>

  <p><button class="ui button" {{action "createAnimation"}}>Guardar</button></p>

{{/ember-remodal}}
