<div class="padding-vertical">
  <p>Configuración: {{model.cols}} columnas / {{model.rows}} filas

    {{#ember-remodal openButton='Editar' buttonClasses="ui button" forService=true disableNativeClose=true closeOnOutsideClick=false closeOnEscape=false}}
      <h2>Editar grilla</h2>

      <p>Columnas: {{input value=model.cols autofocus=true enter="save"}}</p>
      <p>Filas: {{input value=model.rows enter="save"}}</p>

      <p><button class="ui button" {{action "save"}}>Guardar</button></p>

    {{/ember-remodal}}
  </p>

</div>


<div class="padding-vertical">
  {{pilas-frame currentFrame=currentFrame border=border grid=grid zoom=zoom onionSkin=onionSkin liveReload=liveReload path=model.path cols=model.cols rows=model.rows}}
</div>

<div class="padding-vertical">
  Zoom:

  <div class="contenedor-input">
    {{x-range-input min=0.2 max=5 step=0.1 value=zoom}}
    {{zoom}}
  </div>
</div>

<div class="padding-vertical">
  Cuadro actual:

  <div class="contenedor-input">
    {{x-range-input min=0 max=totalFrames step=1 value=currentFrame}}
    {{currentFrame}}
  </div>
</div>

<div class="padding-vertical">
  Capa cebolla: {{input type="checkbox" checked=onionSkin}}
</div>

<div class="padding-vertical">
  Mostrar borde: {{input type="checkbox" checked=border}}
</div>

<div class="padding-vertical">
  Mostrar grilla: {{input type="checkbox" checked=grid}}
</div>
